In [2]:
import pandas as pd
import numpy as np
from __future__ import (absolute_import, division, print_function,
                        unicode_literals)

from surprise import KNNWithMeans
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader

In [61]:
df_linkedIn_intitial = pd.read_csv('LinkedIn_Dataset_post_csv_final.csv')
df_linkedIn_intitial.head(10)

,FirstName,LastName,Location,NumConnections,Industry,Skill_a,Skill_b,Skill_c,Skill_d,Skill_e,...,Degree_b,FieldOfStudy_b,Degree_c,FieldOfStudy_c,positions_a_title,positions_a_company_name,positions_b_title,positions_b_company_name,positions_c_title,positions_c_company_name
0,hydros,achipravalappil,United Arab Emirates,36,Oil & Energy,Rotating Equipments in Oil & Gas Industry,Stationary Equipments in Oil & Gas Industry,Pneumatic System,Hydraulic System,CMMS - MAXIMO,...,NaN,NaN,NaN,NaN,Mechanical Maintenance Engineer,S.O.S Consultants,NaN,NaN,NaN,NaN
1,Hasnaa,ACHIQ,Maroc,131,Construction,Reporting & Analysis,SAP,Financial Control,Budgeting,overview on risks and opportunities,...,Cycle normal d'école de commerce,Finances et comptabilité,NaN,NaN,Contrôleur de gestion opérationnel Département,Cegelec,Contrôleur de gestion opérationnel Projet,Cegelec,Stagiaire en Finances et comptabilité,SEFIN Holding
2,Ali,Achir,Morocco,420,Public Relations and Communications,Event Planning,Teamwork,Customer Relations,Negotiation,Conservation,...,NaN,NaN,NaN,NaN,Student,Hassan II University,Customer Service Officer,Metlife-Alico,Customer Service Officer,Mashreq Bank
3,Nadjib,Achir,"Paris Area, France",99,Education Management,Wireless Sensor Networks,Wireless,QoS,NaN,NaN,...,NaN,NaN,NaN,NaN,Researcher,Université Paris 13 Nord,PHD Student,University of Paris 6,NaN,NaN
4,Meguru,Achira,Japan,121,Pharmaceuticals,Pharmacokinetics,DMPK,Clinical Development,Pharmacodynamics,Drug Metabolism,...,NaN,Pharmacokinetics,NaN,NaN,"Group Manager, Head of PK/PD Science Group",Janssen Pharmaceutical K.K.,NaN,NaN,NaN,NaN
5,Julio Alejandro,Achique Lopenza,Venezuela,125,Programas informáticos,Proactivo,Responsable,NaN,NaN,NaN,...,Ingeniero de Sistemas,Sistemas,NaN,NaN,Lider de Proyectos,STC Solutions Developers,Gerente de Sistemas,"Distribuidora Vivo, C.A.",Lider de Sistemas,"Vengas, C.A."
6,Mary Ann,Agpay,Qatar,500+,Apparel & Fashion,Fashion,Styling,Personal Shopping,Airbrush,NaN,...,NaN,Airline Secretarial,NaN,NaN,Fashion Stylist,La Vedette Fashion and Image Consulting,NaN,NaN,NaN,NaN
7,Daisy Anne,Agpoon,Philippines,60,Telecommunications,Event Hosting,Singing,Creative Writing,NaN,NaN,...,NaN,NaN,NaN,NaN,Talent Management Officer,"Smart Communications, Inc.",Senior Talent Acquisition Officer,UnionBank of the Philippines,Account Manager,"Gallardo & Associates, Inc."
8,Dean Michael,Agpoon,Singapore,18,Information Technology and Services,PeopleSoft,PeopleTools,PeopleCode,SQR,XML Publisher,...,NaN,NaN,NaN,NaN,IT Consultant (Oracle PeopleSoft),Citibank,Software Developer via Accenture,Large Utility Company,Software Developer via Accenture,Large Energy Provider
9,George,Agpoon,"Madison, Wisconsin Area",193,Online Media,Photoshop,Illustrator,Final Cut Studio,Adobe Premiere,After Effects,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_1 = df_linkedIn_intitial

In [63]:
df_1.head()

,FirstName,LastName,Location,NumConnections,Industry,Skill_a,Skill_b,Skill_c,Skill_d,Skill_e,...,Degree_b,FieldOfStudy_b,Degree_c,FieldOfStudy_c,positions_a_title,positions_a_company_name,positions_b_title,positions_b_company_name,positions_c_title,positions_c_company_name
0,hydros,achipravalappil,United Arab Emirates,36,Oil & Energy,Rotating Equipments in Oil & Gas Industry,Stationary Equipments in Oil & Gas Industry,Pneumatic System,Hydraulic System,CMMS - MAXIMO,...,NaN,NaN,NaN,NaN,Mechanical Maintenance Engineer,S.O.S Consultants,NaN,NaN,NaN,NaN
1,Hasnaa,ACHIQ,Maroc,131,Construction,Reporting & Analysis,SAP,Financial Control,Budgeting,overview on risks and opportunities,...,Cycle normal d'école de commerce,Finances et comptabilité,NaN,NaN,Contrôleur de gestion opérationnel Département,Cegelec,Contrôleur de gestion opérationnel Projet,Cegelec,Stagiaire en Finances et comptabilité,SEFIN Holding
2,Ali,Achir,Morocco,420,Public Relations and Communications,Event Planning,Teamwork,Customer Relations,Negotiation,Conservation,...,NaN,NaN,NaN,NaN,Student,Hassan II University,Customer Service Officer,Metlife-Alico,Customer Service Officer,Mashreq Bank
3,Nadjib,Achir,"Paris Area, France",99,Education Management,Wireless Sensor Networks,Wireless,QoS,NaN,NaN,...,NaN,NaN,NaN,NaN,Researcher,Université Paris 13 Nord,PHD Student,University of Paris 6,NaN,NaN
4,Meguru,Achira,Japan,121,Pharmaceuticals,Pharmacokinetics,DMPK,Clinical Development,Pharmacodynamics,Drug Metabolism,...,NaN,Pharmacokinetics,NaN,NaN,"Group Manager, Head of PK/PD Science Group",Janssen Pharmaceutical K.K.,NaN,NaN,NaN,NaN

In [82]:
df_1['Skills_new'] = df_1.Skill_a.astype(str).str.cat(df_1.Skill_b.astype(str), sep=' ').str.cat(df_1.Skill_c.astype(str), sep=' ').str.cat(df_1.Skill_d.astype(str), sep=' ').str.cat(df_1.Skill_e.astype(str), sep=' ')

In [83]:
df_1['Degrees_new'] = df_1.Degree_a.astype(str).str.cat(df_1.Degree_b.astype(str), sep=' ').str.cat(df_1.Degree_c.astype(str), sep=' ')

In [79]:
df_1['FieldOfStudy'] = df_1.FieldOfStudy_a.astype(str).str.cat(df_1.FieldOfStudy_b.astype(str), sep=' ').str.cat(df_1.FieldOfStudy_c.astype(str), sep=' ')

In [86]:
df_1['positions__title'] = df_1.positions_a_title.astype(str).str.cat(df_1.positions_b_title.astype(str), sep=',').str.cat(df_1.positions_c_title.astype(str), sep=',')

In [89]:
df_1['Company_Names'] = df_1.positions_a_company_name.astype(str).str.cat(df_1.positions_b_company_name.astype(str), sep=',').str.cat(df_1.positions_c_company_name.astype(str), sep=',')

In [92]:
df_1['Name'] = df_1.FirstName.astype(str).str.cat(df_1.LastName.astype(str), sep=' ')

In [93]:
df_1.head()

,FirstName,LastName,Location,NumConnections,Industry,Skill_a,Skill_b,Skill_c,Skill_d,Skill_e,...,positions_b_title,positions_b_company_name,positions_c_title,positions_c_company_name,Skills_new,Degrees_new,FieldOfStudy,positions__title,Company_Names,Name
0,hydros,achipravalappil,United Arab Emirates,36,Oil & Energy,Rotating Equipments in Oil & Gas Industry,Stationary Equipments in Oil & Gas Industry,Pneumatic System,Hydraulic System,CMMS - MAXIMO,...,NaN,NaN,NaN,NaN,Rotating Equipments in Oil & Gas Industry Stat...,Bachelor of Engineering (B.E.) nan nan,Mechanical Engineering nan nan,"Mechanical Maintenance Engineer,nan,nan","S.O.S Consultants,nan,nan",hydros achipravalappil
1,Hasnaa,ACHIQ,Maroc,131,Construction,Reporting & Analysis,SAP,Financial Control,Budgeting,overview on risks and opportunities,...,Contrôleur de gestion opérationnel Projet,Cegelec,Stagiaire en Finances et comptabilité,SEFIN Holding,Reporting & Analysis SAP Financial Control Bud...,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Contrôleur de gestion opérationnel Département...,"Cegelec,Cegelec,SEFIN Holding",Hasnaa ACHIQ
2,Ali,Achir,Morocco,420,Public Relations and Communications,Event Planning,Teamwork,Customer Relations,Negotiation,Conservation,...,Customer Service Officer,Metlife-Alico,Customer Service Officer,Mashreq Bank,Event Planning Teamwork Customer Relations Neg...,M.S Management de la Communication des Organis...,Communication nan nan,"Student,Customer Service Officer,Customer Serv...","Hassan II University,Metlife-Alico,Mashreq Bank",Ali Achir
3,Nadjib,Achir,"Paris Area, France",99,Education Management,Wireless Sensor Networks,Wireless,QoS,NaN,NaN,...,PHD Student,University of Paris 6,NaN,NaN,Wireless Sensor Networks Wireless QoS nan nan,nan nan nan,nan nan nan,"Researcher,PHD Student,nan","Université Paris 13 Nord,University of Paris 6...",Nadjib Achir
4,Meguru,Achira,Japan,121,Pharmaceuticals,Pharmacokinetics,DMPK,Clinical Development,Pharmacodynamics,Drug Metabolism,...,NaN,NaN,NaN,NaN,Pharmacokinetics DMPK Clinical Development Pha...,"MS, Ph.D. nan nan",Pharmacokinetics Pharmacokinetics nan,"Group Manager, Head of PK/PD Science Group,nan...","Janssen Pharmaceutical K.K.,nan,nan",Meguru Achira

In [111]:
df__analyse_2 = df_1[['Name','Industry','positions__title','Company_Names','Skills_new','Degrees_new','FieldOfStudy']]

In [181]:
df__analyse_2.head()

,Name,Industry,positions__title,Company_Names,Skills_new,Degrees_new,FieldOfStudy,positions_title
0,hydros achipravalappil,Oil & Energy,[Mechanical Maintenance Engineer ],S.O.S Consultants,Rotating Equipments in Oil & Gas Industry Stat...,Bachelor of Engineering (B.E.),Mechanical Engineering,[Mechanical Maintenance Engineer ]
1,Hasnaa ACHIQ,Construction,[Contrôleur de gestion opérationnel Départemen...,"Cegelec,Cegelec,SEFIN Holding",Reporting & Analysis SAP Financial Control Bud...,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",[Contrôleur de gestion opérationnel Départemen...
2,Ali Achir,Public Relations and Communications,"[Student, Customer Service Officer, Customer S...","Hassan II University,Metlife-Alico,Mashreq Bank",Event Planning Teamwork Customer Relations Neg...,M.S Management de la Communication des Organis...,Communication,"[Student, Customer Service Officer, Customer S..."
3,Nadjib Achir,Education Management,"[Researcher, PHD Student ]","Université Paris 13 Nord,University of Paris 6",Wireless Sensor Networks Wireless QoS,nan,,"[Researcher, PHD Student ]"
4,Meguru Achira,Pharmaceuticals,"[Group Manager, Head of PK/PD Science Group ]",Janssen Pharmaceutical K.K.,Pharmacokinetics DMPK Clinical Development Pha...,"MS, Ph.D.",Pharmacokinetics Pharmacokinetics,"[Group Manager, Head of PK/PD Science Group ]"

#Removing nan from position name strings

In [120]:
#df__analyse_2['positions__title'] = df__analyse_2['positions__title'].str.replace('nan,',' ')

#df__analyse_2['positions__title'] = df__analyse_2['positions__title'].str.replace(', nan',' ')
#df__analyse_2['positions__title'] = df__analyse_2['positions__title'].str.replace(',nan',' ')
#df__analyse_2.head(20)

In [ ]:
#Removing nan from company name strings

In [123]:
#df__analyse_2['Company_Names'] = df__analyse_2['Company_Names'].str.replace('nan,',' ')
#df__analyse_2['Company_Names'] = df__analyse_2['Company_Names'].str.replace(',nan',' ')
#df__analyse_2['Company_Names'] = df__analyse_2['Company_Names'].str.replace(', nan',' ')
#df__analyse_2.head(20)

In [ ]:
#Removing nan from Skills_new strings

In [129]:
#df__analyse_2['Skills_new'] = df__analyse_2['Skills_new'].str.replace(' nan ',' ')
#df__analyse_2['Skills_new'] = df__analyse_2['Skills_new'].str.replace(' nan',' ')
#df__analyse_2['Company_Names'] = df__analyse_2['Company_Names'].str.replace(', nan',' ')
#df__analyse_2.head(20)

In [134]:
#df__analyse_2['Degrees_new'] = df__analyse_2['Degrees_new'].str.replace(' nan ',' ')
#df__analyse_2['Degrees_new'] = df__analyse_2['Degrees_new'].str.replace(' nan',' ')
#df__analyse_2['Company_Names'] = df__analyse_2['Company_Names'].str.replace(', nan',' ')
#df__analyse_2.head(5)

,Name,Industry,positions__title,Company_Names,Skills_new,Degrees_new,FieldOfStudy
0,hydros achipravalappil,Oil & Energy,Mechanical Maintenance Engineer,S.O.S Consultants,Rotating Equipments in Oil & Gas Industry Stat...,Bachelor of Engineering (B.E.),Mechanical Engineering nan nan
1,Hasnaa ACHIQ,Construction,Contrôleur de gestion opérationnel Département...,"Cegelec,Cegelec,SEFIN Holding",Reporting & Analysis SAP Financial Control Bud...,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor..."
2,Ali Achir,Public Relations and Communications,"Student,Customer Service Officer,Customer Serv...","Hassan II University,Metlife-Alico,Mashreq Bank",Event Planning Teamwork Customer Relations Neg...,M.S Management de la Communication des Organis...,Communication nan nan
3,Nadjib Achir,Education Management,"Researcher,PHD Student","Université Paris 13 Nord,University of Paris 6",Wireless Sensor Networks Wireless QoS,nan,nan nan nan
4,Meguru Achira,Pharmaceuticals,"Group Manager, Head of PK/PD Science Group",Janssen Pharmaceutical K.K.,Pharmacokinetics DMPK Clinical Development Pha...,"MS, Ph.D.",Pharmacokinetics Pharmacokinetics nan

In [138]:
#df__analyse_2['FieldOfStudy'] = df__analyse_2['FieldOfStudy'].str.replace(' nan ',' ')
#df__analyse_2['FieldOfStudy'] = df__analyse_2['FieldOfStudy'].str.replace('nan ',' ')
#df__analyse_2['Company_Names'] = df__analyse_2['Company_Names'].str.replace(', nan',' ')
#df__analyse_2.head(5)

In [140]:
#df__analyse_2.head(20)

In [144]:
separate_positions = df__analyse_2['positions__title']

'''for line in new_df_investor: 
        count+=1
        test1= str(line)
        sagar= test1.split("[")
        new_sagar = sagar[1:]
        temp = []
        for i in new_sagar:
            new_i = i.rstrip('||')
            newSAG = new_i.split('|')
            investor_name = newSAG[0]
            unique_inv[investor_name] = 1
            temp.append(newSAG[0]) 
            pranav_inv.append(newSAG[0])
            #print(pranav_inv) '''
#df_separate_position = pd.DataFrame(separate_positions)
#df_separate_position.head()

'for line in new_df_investor: \n        count+=1\n        test1= str(line)\n        sagar= test1.split("[")\n        new_sagar = sagar[1:]\n        temp = []\n        for i in new_sagar:\n            new_i = i.rstrip(\'||\')\n            newSAG = new_i.split(\'|\')\n            investor_name = newSAG[0]\n            unique_inv[investor_name] = 1\n            temp.append(newSAG[0]) \n            pranav_inv.append(newSAG[0])\n            #print(pranav_inv) '

In [152]:
#positions_split on , 
split_posits = []
posit_array = []
for pos in df__analyse_2['positions__title']:
    each_row = pos.split(",")
    split_posits.append(each_row)
#print(split_posits)

In [170]:
datafr_split_posits = pd.Series(split_posits)
datafr_split_posits.head()
New_datafr_split_posits = pd.DataFrame(datafr_split_posits)

df__analyse_2['positions_title'] = New_datafr_split_posits
df__analyse_2.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Name,Industry,positions__title,Company_Names,Skills_new,Degrees_new,FieldOfStudy,positions_title
0,hydros achipravalappil,Oil & Energy,[Mechanical Maintenance Engineer ],S.O.S Consultants,Rotating Equipments in Oil & Gas Industry Stat...,Bachelor of Engineering (B.E.),Mechanical Engineering,[Mechanical Maintenance Engineer ]
1,Hasnaa ACHIQ,Construction,[Contrôleur de gestion opérationnel Départemen...,"Cegelec,Cegelec,SEFIN Holding",Reporting & Analysis SAP Financial Control Bud...,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",[Contrôleur de gestion opérationnel Départemen...
2,Ali Achir,Public Relations and Communications,"[Student, Customer Service Officer, Customer S...","Hassan II University,Metlife-Alico,Mashreq Bank",Event Planning Teamwork Customer Relations Neg...,M.S Management de la Communication des Organis...,Communication,"[Student, Customer Service Officer, Customer S..."
3,Nadjib Achir,Education Management,"[Researcher, PHD Student ]","Université Paris 13 Nord,University of Paris 6",Wireless Sensor Networks Wireless QoS,nan,,"[Researcher, PHD Student ]"
4,Meguru Achira,Pharmaceuticals,"[Group Manager, Head of PK/PD Science Group ]",Janssen Pharmaceutical K.K.,Pharmacokinetics DMPK Clinical Development Pha...,"MS, Ph.D.",Pharmacokinetics Pharmacokinetics,"[Group Manager, Head of PK/PD Science Group ]"

In [175]:
New_analyse_df = df__analyse_2.iloc[:,:7]
New_analyse_df.head()

,Name,Industry,positions__title,Company_Names,Skills_new,Degrees_new,FieldOfStudy
0,hydros achipravalappil,Oil & Energy,[Mechanical Maintenance Engineer ],S.O.S Consultants,Rotating Equipments in Oil & Gas Industry Stat...,Bachelor of Engineering (B.E.),Mechanical Engineering
1,Hasnaa ACHIQ,Construction,[Contrôleur de gestion opérationnel Départemen...,"Cegelec,Cegelec,SEFIN Holding",Reporting & Analysis SAP Financial Control Bud...,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor..."
2,Ali Achir,Public Relations and Communications,"[Student, Customer Service Officer, Customer S...","Hassan II University,Metlife-Alico,Mashreq Bank",Event Planning Teamwork Customer Relations Neg...,M.S Management de la Communication des Organis...,Communication
3,Nadjib Achir,Education Management,"[Researcher, PHD Student ]","Université Paris 13 Nord,University of Paris 6",Wireless Sensor Networks Wireless QoS,nan,
4,Meguru Achira,Pharmaceuticals,"[Group Manager, Head of PK/PD Science Group ]",Janssen Pharmaceutical K.K.,Pharmacokinetics DMPK Clinical Development Pha...,"MS, Ph.D.",Pharmacokinetics Pharmacokinetics

In [158]:
def splitInto_Separate_list(data_frame, 
                       column_split,
                      typ):
    
    #Accepts a column with multiple types and splits list variables to several rows.

    data_frame = data_frame
    column_split = column_split
    typ =typ
    
    
    row_accumulator = []

    def split_list_to_rows(row):
        SplitRow_by_column = row[column_split]
        if isinstance(SplitRow_by_column, list):
            for s in SplitRow_by_column:
                newR = row.to_dict()
                newR[column_split] = typ(s)
                row_accumulator.append(newR)
        else:
            newR = row.to_dict()
            newR[column_split] = typ(SplitRow_by_column)
            row_accumulator.append(newR)
  
    data_frame.apply(split_list_to_rows, axis=1)
    new_df = pd.DataFrame(row_accumulator)
  
    return new_df

Dataframe Separated with ', ' values on positions generated

In [179]:
df_split_separate_test = splitInto_Separate_list(New_analyse_df,'positions__title',str)
df_split_separate_test.head()

,Company_Names,Degrees_new,FieldOfStudy,Industry,Name,Skills_new,positions__title
0,S.O.S Consultants,Bachelor of Engineering (B.E.),Mechanical Engineering,Oil & Energy,hydros achipravalappil,Rotating Equipments in Oil & Gas Industry Stat...,Mechanical Maintenance Engineer
1,"Cegelec,Cegelec,SEFIN Holding",Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département
2,"Cegelec,Cegelec,SEFIN Holding",Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Projet
3,"Cegelec,Cegelec,SEFIN Holding",Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Stagiaire en Finances et comptabilité
4,"Hassan II University,Metlife-Alico,Mashreq Bank",M.S Management de la Communication des Organis...,Communication,Public Relations and Communications,Ali Achir,Event Planning Teamwork Customer Relations Neg...,Student

In [180]:
df_split_separate_test.shape

(483, 7)

In [188]:

#positions_split on , 
split_Company_Names =[]
posit_array = []
for coms in df_split_separate_test['Company_Names']:
    each_row = coms.split(",")
    split_Company_Names.append(each_row)
    del each_row
#print(split_Company_Names)

In [192]:
datafr_split_com_names = pd.Series(split_Company_Names)
#datafr_split_com_names.head()
New_datafr_split_coms = pd.DataFrame(datafr_split_com_names)

df_split_separate_test['Company_Names'] = New_datafr_split_coms
df_split_separate_test.head()

,Company_Names,Degrees_new,FieldOfStudy,Industry,Name,Skills_new,positions__title
0,[S.O.S Consultants ],Bachelor of Engineering (B.E.),Mechanical Engineering,Oil & Energy,hydros achipravalappil,Rotating Equipments in Oil & Gas Industry Stat...,Mechanical Maintenance Engineer
1,"[Cegelec, Cegelec, SEFIN Holding]",Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département
2,"[Cegelec, Cegelec, SEFIN Holding]",Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Projet
3,"[Cegelec, Cegelec, SEFIN Holding]",Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Stagiaire en Finances et comptabilité
4,"[Hassan II University, Metlife-Alico, Mashreq ...",M.S Management de la Communication des Organis...,Communication,Public Relations and Communications,Ali Achir,Event Planning Teamwork Customer Relations Neg...,Student

Dataframe Separated with ', ' values on Company names generated

In [193]:
df_split_separate_test_after_company = splitInto_Separate_list(df_split_separate_test,'Company_Names',str)
df_split_separate_test_after_company.head()

,Company_Names,Degrees_new,FieldOfStudy,Industry,Name,Skills_new,positions__title
0,S.O.S Consultants,Bachelor of Engineering (B.E.),Mechanical Engineering,Oil & Energy,hydros achipravalappil,Rotating Equipments in Oil & Gas Industry Stat...,Mechanical Maintenance Engineer
1,Cegelec,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département
2,Cegelec,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département
3,SEFIN Holding,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département
4,Cegelec,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Projet

In [194]:
df_split_separate_test_after_company.shape

(1391, 7)

#combining position_company_title_Industry

In [203]:


df_split_separate_test_after_company['position_company_title'] = df_split_separate_test_after_company.positions__title.astype(str).str.cat(df_split_separate_test_after_company.Company_Names.astype(str), sep=' ')

#df_split_separate_test_after_company.drop(df_split_separate_test_after_company.position_company_titles)
New_combine_comp_pos_indus = df_split_separate_test_after_company[['Company_Names','Degrees_new','FieldOfStudy','Industry','Name','Skills_new','positions__title','position_company_title']]
New_combine_comp_pos_indus.head()

,Company_Names,Degrees_new,FieldOfStudy,Industry,Name,Skills_new,positions__title,position_company_title
0,S.O.S Consultants,Bachelor of Engineering (B.E.),Mechanical Engineering,Oil & Energy,hydros achipravalappil,Rotating Equipments in Oil & Gas Industry Stat...,Mechanical Maintenance Engineer,Mechanical Maintenance Engineer S.O.S Consult...
1,Cegelec,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département,Contrôleur de gestion opérationnel Département...
2,Cegelec,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département,Contrôleur de gestion opérationnel Département...
3,SEFIN Holding,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Département,Contrôleur de gestion opérationnel Département...
4,Cegelec,Mastère spécialisé Cycle normal d'école de com...,"Audit, contrôle de gestion et systèmes d'infor...",Construction,Hasnaa ACHIQ,Reporting & Analysis SAP Financial Control Bud...,Contrôleur de gestion opérationnel Projet,Contrôleur de gestion opérationnel Projet Cegelec

#combining Degrees_new_FieldOfStudy_Skills_new

In [296]:
#New_combine_comp_pos_indus['Degrees_new_FieldOfStudy_Skills_new'] = New_combine_comp_pos_indus.Skills_new.astype(str).str.cat(New_combine_comp_pos_indus.FieldOfStudy.astype(str), sep=' ').str.cat(New_combine_comp_pos_indus.Degrees_new.astype(str), sep=' ').str.cat(New_combine_comp_pos_indus.Industry.astype(str), sep=' ')
#New_combine_comp_pos_indus.head()
N = len(New_combine_comp_pos_indus.Degrees_new_FieldOfStudy_Skills_new)
print(N)
S1 = New_combine_comp_pos_indus['Degrees_new_FieldOfStudy_Skills_new']
S2 = New_combine_comp_pos_indus['positions__title']
N = len(New_combine_comp_pos_indus.Degrees_new_FieldOfStudy_Skills_new)
N2 = len(S2)
print(N2)

1391
1391

In [302]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
d = np.zeros((N+2,N+2))
matrix_skill = pd.DataFrame(d)
count_i = 0 

for i in S1:
    count_j = 0 
    matrix_skill.iloc[count_i,count_j] = i
    #print("This is the first one"+ matrix.iloc[count_i,count_j])
    
    #print(i)
   
    bow_i = i.split(" ")
    
    for j in S1:
        count_j +=1
        
        #print(j)

        train_set = [i,j]

        tfidf_vectorizer = TfidfVectorizer()
        tfidf_matrix_train = tfidf_vectorizer.fit_transform(train_set)  #finds the tfidf score with normalization
        cosine_scores = cosine_similarity(tfidf_matrix_train[0:1], tfidf_matrix_train)
        matrix_skill.iloc[count_i,count_j] = cosine_scores[:,1]
    print("values of i completed:")
    print(count_i)
    count_i += 1

#print(matrix_pos_com)
print("Printing first similarity values for Degrees_new_FieldOfStudy_Skills_new:")  
print(matrix_skill)

Printing first similarity values for Degrees_new_FieldOfStudy_Skills_new:
                                                   0         1         2     \
0     Rotating Equipments in Oil & Gas Industry Stat...  1.000000  0.000000
1     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
2     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
3     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
4     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
5     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
6     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
7     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
8     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
9     Reporting & Analysis SAP Financial Control Bud...  0.000000  1.000000
10    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
11    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
12    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
13    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
14    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
15    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
16    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
17    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
18    Event Planning Teamwork Customer Relations Neg...  0.000000  0.059961
19    Wireless Sensor Networks Wireless QoS    nan  ...  0.000000  0.000000
20    Wireless Sensor Networks Wireless QoS    nan  ...  0.000000  0.000000
21    Wireless Sensor Networks Wireless QoS    nan  ...  0.000000  0.000000
22    Wireless Sensor Networks Wireless QoS    nan  ...  0.000000  0.000000
23    Pharmacokinetics DMPK Clinical Development Pha...  0.000000  0.000000
24    Pharmacokinetics DMPK Clinical Development Pha...  0.000000  0.000000
25    Proactivo Responsable   Sistemas Sistemas  Mae...  0.000000  0.071264
26    Proactivo Responsable   Sistemas Sistemas  Mae...  0.000000  0.071264
27    Proactivo Responsable   Sistemas Sistemas  Mae...  0.000000  0.071264
28    Proactivo Responsable   Sistemas Sistemas  Mae...  0.000000  0.071264
29    Proactivo Responsable   Sistemas Sistemas  Mae...  0.000000  0.071264
...                                                 ...       ...       ...
1363  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1364  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1365  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1366  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1367  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1368  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1369  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1370  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1371  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1372  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1373  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1374  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1375  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1376  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1377  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1378  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1379  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1380  Enteprise Business Architecture IT-Business Al...  0.000000  0.000000
1381  Especialista em Direito Eleitoral     Bacharel...  0.000000  0.000000
1382  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1383  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1384  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1385  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1386  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1387  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1388  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1389  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1390  Investor Relations Budget Start-ups IPO Capita...  0.019112  0.044720
1391                                                  0  0.000000  0.000000
1392                                                  0  0.000000  0.000000

          3         4         5         6         7         8         9     \
0     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
2     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
3     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
4     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
5     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
6     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
7     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
8     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
9     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
10    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
11    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
12    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
13    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
14    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
15    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
16    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
17    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
18    0.059961  0.059961  0.059961  0.059961  0.059961  0.059961  0.059961
19    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
20    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
24    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25    0.071264  0.071264  0.071264  0.071264  0.071264  0.071264  0.071264
26    0.071264  0.071264  0.071264  0.071264  0.071264  0.071264  0.071264
27    0.071264  0.071264  0.071264  0.071264  0.071264  0.071264  0.071264
28    0.071264  0.071264  0.071264  0.071264  0.071264  0.071264  0.071264
29    0.071264  0.071264  0.071264  0.071264  0.071264  0.071264  0.071264
...        ...       ...       ...       ...       ...       ...       ...
1363  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1364  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1365  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1366  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1367  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1368  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1369  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1370  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1371  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1372  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1373  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1374  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1375  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1376  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1377  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1378  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1379  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1380  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1381  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1382  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1383  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1384  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1385  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1386  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1387  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1388  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1389  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1390  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
1391  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1392  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

      ...       1383      1384      1385      1386      1387      1388  \
0     ...   0.019112  0.019112  0.019112  0.019112  0.019112  0.019112
1     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
2     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
3     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
4     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
5     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
6     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
7     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
8     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
9     ...   0.044720  0.044720  0.044720  0.044720  0.044720  0.044720
10    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
11    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
12    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
13    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
14    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
15    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
16    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
17    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
18    ...   0.055690  0.055690  0.055690  0.055690  0.055690  0.055690
19    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
20    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
24    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
26    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29    ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
...   ...        ...       ...       ...       ...       ...       ...
1363  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1364  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1365  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1366  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1367  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1368  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1369  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1370  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1371  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1372  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1373  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1374  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1375  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1376  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1377  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1378  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1379  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1380  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1381  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1382  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1383  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1384  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1385  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1386  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1387  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1388  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1389  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1390  ...   1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1391  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1392  ...   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

          1389      1390      1391  1392
0     0.019112  0.019112  0.019112   0.0
1     0.044720  0.044720  0.044720   0.0
2     0.044720  0.044720  0.044720   0.0
3     0.044720  0.044720  0.044720   0.0
4     0.044720  0.044720  0.044720   0.0
5     0.044720  0.044720  0.044720   0.0
6     0.044720  0.044720  0.044720   0.0
7     0.044720  0.044720  0.044720   0.0
8     0.044720  0.044720  0.044720   0.0
9     0.044720  0.044720  0.044720   0.0
10    0.055690  0.055690  0.055690   0.0
11    0.055690  0.055690  0.055690   0.0
12    0.055690  0.055690  0.055690   0.0
13    0.055690  0.055690  0.055690   0.0
14    0.055690  0.055690  0.055690   0.0
15    0.055690  0.055690  0.055690   0.0
16    0.055690  0.055690  0.055690   0.0
17    0.055690  0.055690  0.055690   0.0
18    0.055690  0.055690  0.055690   0.0
19    0.000000  0.000000  0.000000   0.0
20    0.000000  0.000000  0.000000   0.0
21    0.000000  0.000000  0.000000   0.0
22    0.000000  0.000000  0.000000   0.0
23    0.000000  0.000000  0.000000   0.0
24    0.000000  0.000000  0.000000   0.0
25    0.000000  0.000000  0.000000   0.0
26    0.000000  0.000000  0.000000   0.0
27    0.000000  0.000000  0.000000   0.0
28    0.000000  0.000000  0.000000   0.0
29    0.000000  0.000000  0.000000   0.0
...        ...       ...       ...   ...
1363  0.000000  0.000000  0.000000   0.0
1364  0.000000  0.000000  0.000000   0.0
1365  0.000000  0.000000  0.000000   0.0
1366  0.000000  0.000000  0.000000   0.0
1367  0.000000  0.000000  0.000000   0.0
1368  0.000000  0.000000  0.000000   0.0
1369  0.000000  0.000000  0.000000   0.0
1370  0.000000  0.000000  0.000000   0.0
1371  0.000000  0.000000  0.000000   0.0
1372  0.000000  0.000000  0.000000   0.0
1373  0.000000  0.000000  0.000000   0.0
1374  0.000000  0.000000  0.000000   0.0
1375  0.000000  0.000000  0.000000   0.0
1376  0.000000  0.000000  0.000000   0.0
1377  0.000000  0.000000  0.000000   0.0
1378  0.000000  0.000000  0.000000   0.0
1379  0.000000  0.000000  0.000000   0.0
1380  0.000000  0.000000  0.000000   0.0
1381  0.000000  0.000000  0.000000   0.0
1382  1.000000  1.000000  1.000000   0.0
1383  1.000000  1.000000  1.000000   0.0
1384  1.000000  1.000000  1.000000   0.0
1385  1.000000  1.000000  1.000000   0.0
1386  1.000000  1.000000  1.000000   0.0
1387  1.000000  1.000000  1.000000   0.0
1388  1.000000  1.000000  1.000000   0.0
1389  1.000000  1.000000  1.000000   0.0
1390  1.000000  1.000000  1.000000   0.0
1391  0.000000  0.000000  0.000000   0.0
1392  0.000000  0.000000  0.000000   0.0

[1393 rows x 1393 columns]

In [ ]:
print("Printing first similarity values for Degrees_new_FieldOfStudy_Skills_new:")  
print(matrix_skill)

In [298]:
matrix_skill_df_new = pd.DataFrame(matrix_skill)
matrix_skill_df_new.to_csv('matrix_skill_df_new.csv')

In [299]:
matrix_skill_read_new = pd.read_csv('matrix_skill_df_new.csv')

In [300]:
matrix_skill_df = pd.DataFrame(matrix_skill_read_new)

In [301]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
d = np.zeros((N2+2,N2+2))
matrix_pos_com = pd.DataFrame(d)
count_i = 0 

for i in S2:
    count_j = 0 
    matrix_pos_com.iloc[count_i,count_j] = i
    #print("This is the first one"+ matrix.iloc[count_i,count_j])
    
    #print(i)
   
    bow_i = i.split(" ")
    
    for j in S2:
        count_j +=1
        
        #print(j)

        train_set = [i,j]

        tfidf_vectorizer = TfidfVectorizer()
        tfidf_matrix_train = tfidf_vectorizer.fit_transform(train_set)  #finds the tfidf score with normalization
        cosine_scores = cosine_similarity(tfidf_matrix_train[0:1], tfidf_matrix_train)
        matrix_pos_com.iloc[count_i,count_j] = cosine_scores[:,1]
    print("values of i completed:")
    print(count_i)
    count_i += 1
print("Printing first similarity values for positions__title:")  
print(matrix_pos_com)

Printing first similarity values for positions__title:
                                                0     1         2     \
0                   Mechanical Maintenance Engineer    0.0  0.000000
1     Contrôleur de gestion opérationnel Département   1.0  0.000000
2     Contrôleur de gestion opérationnel Département   0.0  1.000000
3     Contrôleur de gestion opérationnel Département   0.0  1.000000
4          Contrôleur de gestion opérationnel Projet   0.0  1.000000
5          Contrôleur de gestion opérationnel Projet   0.0  0.669419
6          Contrôleur de gestion opérationnel Projet   0.0  0.669419
7              Stagiaire en Finances et comptabilité   0.0  0.669419
8              Stagiaire en Finances et comptabilité   0.0  0.000000
9              Stagiaire en Finances et comptabilité   0.0  0.000000
10                                                 0   0.0  0.000000
11                                                 0   0.0  0.000000
12                                                 0   0.0  0.000000
13                                                 0   0.0  0.000000
14                                                 0   0.0  0.000000
15                                                 0   0.0  0.000000
16                                                 0   0.0  0.000000
17                                                 0   0.0  0.000000
18                                                 0   0.0  0.000000
19                                                 0   0.0  0.000000
20                                                 0   0.0  0.000000
21                                                 0   0.0  0.000000
22                                                 0   0.0  0.000000
23                                                 0   0.0  0.000000
24                                                 0   0.0  0.000000
25                                                 0   0.0  0.000000
26                                                 0   0.0  0.000000
27                                                 0   0.0  0.000000
28                                                 0   0.0  0.000000
29                                                 0   0.0  0.000000
...                                              ...   ...       ...
1363                                               0   0.0  0.000000
1364                                               0   0.0  0.000000
1365                                               0   0.0  0.000000
1366                                               0   0.0  0.000000
1367                                               0   0.0  0.000000
1368                                               0   0.0  0.000000
1369                                               0   0.0  0.000000
1370                                               0   0.0  0.000000
1371                                               0   0.0  0.000000
1372                                               0   0.0  0.000000
1373                                               0   0.0  0.000000
1374                                               0   0.0  0.000000
1375                                               0   0.0  0.000000
1376                                               0   0.0  0.000000
1377                                               0   0.0  0.000000
1378                                               0   0.0  0.000000
1379                                               0   0.0  0.000000
1380                                               0   0.0  0.000000
1381                                               0   0.0  0.000000
1382                                               0   0.0  0.000000
1383                                               0   0.0  0.000000
1384                                               0   0.0  0.000000
1385                                               0   0.0  0.000000
1386                                               0   0.0  0.000000
1387                                               0   0.0  0.000000
1388                                               0   0.0  0.000000
1389                                               0   0.0  0.000000
1390                                               0   0.0  0.000000
1391                                               0   0.0  0.000000
1392                                               0   0.0  0.000000

          3         4         5         6         7     8     9     ...   \
0     0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1     0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
2     1.000000  1.000000  0.669419  0.669419  0.669419   0.0   0.0  ...
3     1.000000  1.000000  0.669419  0.669419  0.669419   0.0   0.0  ...
4     1.000000  1.000000  0.669419  0.669419  0.669419   0.0   0.0  ...
5     0.669419  0.669419  1.000000  1.000000  1.000000   0.0   0.0  ...
6     0.669419  0.669419  1.000000  1.000000  1.000000   0.0   0.0  ...
7     0.669419  0.669419  1.000000  1.000000  1.000000   0.0   0.0  ...
8     0.000000  0.000000  0.000000  0.000000  0.000000   1.0   1.0  ...
9     0.000000  0.000000  0.000000  0.000000  0.000000   1.0   1.0  ...
10    0.000000  0.000000  0.000000  0.000000  0.000000   1.0   1.0  ...
11    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
12    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
13    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
14    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
15    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
16    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
17    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
18    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
19    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
20    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
21    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
22    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
23    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
24    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
25    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
26    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
27    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
28    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
29    0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
...        ...       ...       ...       ...       ...   ...   ...  ...
1363  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1364  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1365  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1366  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1367  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1368  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1369  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1370  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1371  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1372  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1373  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1374  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1375  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1376  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1377  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1378  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1379  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1380  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1381  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1382  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1383  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1384  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1385  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1386  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1387  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1388  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1389  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1390  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1391  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...
1392  0.000000  0.000000  0.000000  0.000000  0.000000   0.0   0.0  ...

      1383  1384  1385  1386  1387  1388  1389  1390  1391  1392
0      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
6      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
7      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
8      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
9      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
10     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
11     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
12     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
13     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
14     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
15     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
16     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
18     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
19     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
20     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
21     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
22     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
23     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
24     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
25     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
26     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
27     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
28     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
29     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
1363   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1364   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1365   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1366   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1367   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1368   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1369   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1370   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1371   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1372   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1373   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1374   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1375   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1376   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1377   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1378   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1379   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1380   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1381   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1382   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1383   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1384   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1385   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1386   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1387   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1388   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1389   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1390   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1391   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1392   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[1393 rows x 1393 columns]

In [285]:
ew_compare_matrix_1 = pd.DataFrame(matrix_pos_com_df[0])
ew_compare_matrix_1.head()

                                                0
0                Mechanical Maintenance Engineer
1  Contrôleur de gestion opérationnel Département
2  Contrôleur de gestion opérationnel Département
3  Contrôleur de gestion opérationnel Département
4       Contrôleur de gestion opérationnel Projet

In [288]:
new_compare_skill_mat =matrix_skill_df[0]

In [295]:

#ew_compare_matrix_1.insert(1,'skills',new_compare_skill_mat)
#ew_compare_matrix_1.head(-100)

,0,skills
0,Mechanical Maintenance Engineer,Rotating Equipments in Oil & Gas Industry Stat...
1,Contrôleur de gestion opérationnel Département,Reporting & Analysis SAP Financial Control Bud...
2,Contrôleur de gestion opérationnel Département,Reporting & Analysis SAP Financial Control Bud...
3,Contrôleur de gestion opérationnel Département,Reporting & Analysis SAP Financial Control Bud...
4,Contrôleur de gestion opérationnel Projet,Reporting & Analysis SAP Financial Control Bud...
5,Contrôleur de gestion opérationnel Projet,Reporting & Analysis SAP Financial Control Bud...
6,Contrôleur de gestion opérationnel Projet,Reporting & Analysis SAP Financial Control Bud...
7,Stagiaire en Finances et comptabilité,Reporting & Analysis SAP Financial Control Bud...
8,Stagiaire en Finances et comptabilité,Reporting & Analysis SAP Financial Control Bud...
9,Stagiaire en Finances et comptabilité,Reporting & Analysis SAP Financial Control Bud...
10,0,Event Planning Teamwork Customer Relations Neg...
11,0,0
12,0,0
13,0,0
14,0,0
15,0,0
16,0,0
17,0,0
18,0,0
19,0,0
20,0,0
21,0,0
22,0,0
23,0,0
24,0,0
25,0,0
26,0,0
27,0,0
28,0,0
29,0,0
...,...,...
1263,0,0
1264,0,0
1265,0,0
1266,0,0
1267,0,0
1268,0,0
1269,0,0
1270,0,0
1271,0,0
1272,0,0
1273,0,0
1274,0,0
1275,0,0
1276,0,0
1277,0,0
1278,0,0
1279,0,0
1280,0,0
1281,0,0
1282,0,0
1283,0,0
1284,0,0
1285,0,0
1286,0,0
1287,0,0
1288,0,0
1289,0,0
1290,0,0
1291,0,0
1292,0,0

In [242]:
matrix_pos_com_df = pd.DataFrame(matrix_pos_com)

In [254]:
matrix_pos_com_1 = matrix_pos_com_df[0].values.tolist()
df_string_match_index = matrix_pos_com_1.index('Contrôleur de gestion opérationnel Projet')
print(df_string_match_index)

4

In [294]:
matrix_matched_element = matrix_pos_com_df.iloc[df_string_match_index,1:]
sagar_1 = matrix_matched_element.sort_values(ascending=False)
hero = sagar_1.index
find_postions = hero[0:10]
check_positions_comparison = ew_compare_matrix_1.iloc[find_postions,1]
print(check_positions_comparison)

2       Reporting & Analysis SAP Financial Control Bud...
3       Reporting & Analysis SAP Financial Control Bud...
4       Reporting & Analysis SAP Financial Control Bud...
5       Reporting & Analysis SAP Financial Control Bud...
6       Reporting & Analysis SAP Financial Control Bud...
7       Reporting & Analysis SAP Financial Control Bud...
1161                                                    0
1162                                                    0
1163                                                    0
37                                                      0
Name: skills, dtype: object